* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: aliceblue; */
    /* margin: 20px; */
    padding: 0;
}

body {
    background-color: aliceblue;
}

h1 {
    color: crimson;
}

p {
    font-size: large;
}

#btn {
    font-size: 240px;
    color: crimson;
    background-color: black;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }



